#siren
{
    text-align: center;
    
    
}
.header
{
    display: flex;
    gap:8em;
    justify-content: center;
    font-size:large;
    font-family: 'Montserrat', sans-serif;
}
#flexhead
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:32px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
#verticalheading
{
  color: aqua;
  transform: rotate(-90deg);
  font-size: 25px;
 
 
  
}

#horizontalheading
{
    font-size: 36px;
}

#hrheader
{
    height: 2px;
    width: 80em;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid lightgrey;
   
}
