.technologybody
{
    margin-left: 40px;
    margin-right: 40px;
   
   

}
.floatadv-technology
{
    float: right;
    position: relative;
    bottom: 23em;
    
    height: 500px;
    width: 400px;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-sizing: border-box;
    padding-top: 11em ;
}



/* MEDIA QUERY FOR 1920 RESOLUTION ONLY */
@media only screen and (min-width:1920px)
{
    .technologybody
    {
        margin-left: 20em;
        margin-right: 20em;
       
       
    }
}

@media only screen and (min-width:1400px) and (max-width:1900px)
{
    .technologybody
    {
        margin-left: 5%;
        margin-right: 5%;
       
    }

}
