


.tourismbody
{
    margin-left: 40px;
    margin-right: 40px;
   
   

}
.floatadv-tourism
{
    float: right;
    position: relative;
    bottom: 23em;
    margin-bottom: -20em;
}



/* MEDIA QUERY FOR 1920 RESOLUTION ONLY */
@media only screen and (min-width:1920px)
{
    .tourismbody
    {
        margin-left: 20em;
        margin-right: 20em;
       
       
    }
}
